body{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
#contenturlweb11{
	clip: rect(297px 416px 560px 100px); opacity: 0.5; position: absolute; top: -148px;
}
.video-container1{
	height: 0; padding-bottom: 90.25%; padding-top: 30px;
}